body{     /* body = page entière du corp */
margin: 0; /* marge de toute la page "body" */
background-color: bisque;  /* couleur de fond du body */
}

.image-container{ /* "class créer pour être parent" */ 
    position: relative;
    width: 500px;  /* largeur " de .image-container " */
    height: auto;   /* hauteur " de .image-container " */
    
}
.image-reduite{
    position: absolute; /* Permet de superposer cette image */
    right: 1750px; /* Distance par rapport à la droite du container */
    width: 400px; /* Taille reduite pour l'image */
    height: 400px; /* Garde les proportions */
        
}
a { /* a "sont les éléments de ma navbar" */    
    text-decoration: none; /* sert à ajouter, modifier ou supprimer des décorations */  
    color: black;
}
.Bonjour {
    background-color: blue;
    font-size: 25px;
    overflow: hidden; /* Cache le texte en dehors du conteneur */
    white-space: nowrap;  /* Empêche le texte de passer à la ligne */
    position: relative;
    background-color: bisque;  /* couleur de fond du défilement */
    font-family: Arial, Helvetica, sans-serif;
    top: 100%;
    
}
.BonDefilem {
    
    top: 60%;
    margin-left: 3%;
    display: inline-block;
    position: absolute;
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
    animation: n 10s alternate infinite; /* Animation définie plus bas*/
    
}

@keyframes n {
    

    100% {
        transform: translateX(130%) ;  /* Le texte disparaît à gauche */
        
    }
}





.navBar__boxLink{ /* navBar */

display: flex; /* sert à activer un modèle de mise en page flexible pour un conteneur */ 
flex-direction: row; /* utilisé dans(un)conteneuravecunmodèledeboîteflex.Elledéfinitladirectionprincipaledanslaquellelesélémentsenfantsdunconteneurflexserontalignés*/
justify-content: space-around; /* est utilisée pour aligner et distribuer des éléments à l'intérieur d'un conteneur flexible */
list-style-type: none ;
gap: 0.5rem; /* est utilisée pour définir l'espace entre les éléments d'un conteneur */
font-size: 1.8rem; /*  est utilisée pour définir la taille de la police d'un texte */
font-style: normal; /*  est utilisée pour définir le style d'écriture d'un texte */
font-family: Arial, Helvetica, sans-serif; /* style d'écriture */
}

.navBar__img{
width: 100%; /* largeur de l'image "person-fr.computer" */
height: 90vh; /* hauteur de l'image */

}

.photocf2d {        
position: absolute;
top: 75%;
right: 87%;
width: 6%;
}

h1  {
        
font-size: 100px;
text-align: center;
position: absolute;
top: 22%;
right: 5%;
color: black;
font-size: 6.3rem;
font-family: Arial, Helvetica, sans-serif;
    
}


.footer { /* footer  */

display: flex;
flex-direction: row;
justify-content: space-evenly;    
font-size: 20px;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
border-top: 4px solid black;
        
}
    
.footer__services {
border: 1535px solid red;
}

    
    
p {
text-decoration: underline;
}
h4 {
    text-decoration: underline;
}


    

    
    
    
    
    








